* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

.agendamento {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.agendamento h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #0077cc;
}

.form-agendar {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-agendar label {
  font-weight: bold;
  color: #333;
}

.form-agendar input,
.form-agendar select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
}

.form-agendar button {
  background-color: #0077cc;
  color: white;
  border: none;
  padding: 12px;
  font-size: 1rem;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
}

.form-agendar button:hover {
  background-color: #005fa3;
}

header {
  background-color: #0077cc;
  padding: 10px 0;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.tabs {
  list-style: none;
  display: flex;
  justify-content: left;
  gap: 30px;
}

.tabs li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 15px;
  border-radius: 5px;
  transition: background 0.3s;
}
