* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
      margin: 0;
      font-family: Arial, sans-serif;
      background: #f7f7f7;
    }

    .navbar {
      background: #0073cf;
      color: #fff;
      padding: 12px 0;
      display: flex;
      justify-content: center;
      gap: 25px;
      font-weight: bold;
    }

    .navbar a {
      color: #fff;
      text-decoration: none;
      padding: 6px 12px;
    }

    .navbar a:hover,
    .navbar a.active {
      background: #005fa3;
      border-radius: 5px;
    }

    .container {
      max-width: 800px;
      margin: 30px auto;
      padding: 20px;
      text-align: center;
    }

    h2 {
      margin-bottom: 20px;
      color: #333;
    }

    .btn-confirmar-todos {
      background: #0077cc;
      color: white;
      border: 1px solid #ccc;
      padding: 6px 14px;
      border-radius: 5px;
      font-size: 14px;
      cursor: pointer;
      float: top;
      margin-bottom: 15px;
    }

    .card {
      background: #fff;
      border-radius: 8px;
      padding: 15px;
      margin: 15px 0;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .info {
      text-align: left;
    }

    .info a {
      color: #0073cf;
      font-weight: bold;
      text-decoration: none;
    }

    .info p {
      margin: 3px 0;
      color: #444;
    }

    .actions {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    .actions button {
      border: none;
      background: none;
      cursor: pointer;
      font-size: 28px;
    }

    .actions .confirm {
      color: #0073cf;
    }

    .actions .cancel {
      color: #333;
    }

    footer {
    background-color: #0077cc;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 14px;
}

footer p {
    margin: 0;
}

footer p a {
    color: white;
    text-decoration: none;
}