* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #0077cc;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

main {
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.medicos-lista {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.medico {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.medico h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.medico p {
    font-size: 14px;
    margin-bottom: 5px;
}

.acoes {
    margin-top: 10px;
}

.acoes button {
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    margin-right: 10px;
}

.acoes .editar {
    color: green;
}

.acoes .excluir {
    color: red;
}

footer {
    text-align: center;
    margin-top: 40px;
    font-size: 14px;
    color: #555;
}

h1{
    color: #0077cc;
}

footer {
    background-color: #0077cc;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 14px;
}

footer p {
    margin: 0;
}

footer p a {
    color: white;
    text-decoration: none;
}