 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #f5f9ff;
  color: #333;
  line-height: 1.6;
  overflow-x: hidden;
}

header {
  background-color: #0077cc;
  padding: 12px 0;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.tabs {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  margin: 0;
}

.tabs li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 18px;
  border-radius: 6px;
  transition: background 0.3s ease;
}

.tabs li a:hover,
.tabs li a.active {
  background-color: #005fa3;
}


.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 30px;
  color: #3a3a3a;
}

.card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  transition: all 0.3s ease-in-out;
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card p {
  font-size: 1rem;
  position: relative;
  text-align: center;
}

.card strong {
  font-weight: bold;
  color: #2d2d2d;
}

.btn-sair {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.btn-sair:hover {
  background-color: #dc3545;
}

footer {
  background-color: #0077cc;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 14px;
}

footer p {
  font-size: 0.9rem;
}
